.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrapper__head__title {
    width: 100%;
    height: 50px;
    color: white;
    background-color: orange;
    display: flex;
    justify-content: center;
}

.wrapper__head__subtitle {
    
    height: 100%;
    font-weight: 600;
}

.wrapper__head__subtitle #point {
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    color: orange;
    
    text-decoration: underline;
}

.DivideLine {
    margin-top: 20px;
    height: 100%;
    border-top: 2px dotted gray;
}

.wrapper__body {
    margin-top: 30px;
    border: 2px solid #DFDFDF;
    border-radius: 6px;
}

.wrapper__body__content {
    padding: 5px 20px 10px 20px;
    
}

.body__title{
    font-weight: 700;
    font-size: 15px;
    background-color: #F0EEEE;
}

span{
    font-weight: 600;
}

#kimchi {
    color: red;
}

#cheese {
    color: orange;
}

#full {
    font-size: 20px;
    font-style: italic;
    color: blue;
}

.diary__date {
    font-size: 12px;
    font-weight: 550;
    color:gray;
    text-align: right;
}
