.container {
    display: flex;
    justify-content: center;
    background-color: #D2D2D2;

}
.wrapper {
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    
    /* align-items: center; */
}

.wrapper__head__title {
    width: 100%;
    height: 50px;
    color: white;
    background-color: orange;
    display: flex;
    justify-content: center;
}

.wrapper__head__subtitle {
    
    height: 100%;
    font-weight: 600;
}

.wrapper__head__subtitle #point {
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    color: orange;
    
    text-decoration: underline;
}

.DivideLine {
    margin-top: 20px;
    height: 100%;
    border-top: 2px dotted gray;
}

.wrapper__body {
    margin-top: 30px;
    border: 2px solid #DFDFDF;
    border-radius: 2px;
}

.wrapper__body__content {
    padding: 5px 20px 10px 20px;
    
}

.body__title{
    font-weight: 700;
    font-size: 18px;
    background-color: #F0EEEE;
}

span{
    font-weight: 600;
}

#kimchi {
    color: red;
}

#cheese {
    color: orange;
}

#full {
    font-size: 20px;
    font-style: italic;
    color: blue;
}

.diary__date {
    font-size: 12px;
    font-weight: 550;
    color:gray;
    text-align: right;
}

.header {
    border-bottom: 2px solid gray;
}

.header-inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 100px;
    float: left;
    height: 80px;

}

.logo h1 a {
    text-decoration: none;
    color: orange;
}

.menu {
    width: calc(100% - 200px);
    float: left;
    height: 80px;
    text-align: center;
}

.menu__ul {
    display: inline-block;
}

.menu__ul li {
    float: left;
    list-style: none;
}

.menu__ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
}

.menu__ul li a:hover {
    color: orange;
}

.user {
    width: 100px;
    float: left;
    height: 80px;
    padding-top: 25px;
}

.clearfix {
    clear: both;
}